<footer >
  <!-- class="footer fixed-bottom" -->
  <div class="f-info">
    <div class="f-info-social">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-square-whatsapp"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="f-info-brand">
      &copy; Airbnb Private Limited 2024 | Shanker Joshi
    </div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
